
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.5em;
		font-size: 14pt;
	}
	
	span.extra
	{
		display: none;
	}
	
	#hero
	{
		bottom: 85px;
	}
	
		#hero h2
		{
			font-size: 2.4em;
		}
		
	#logo
	{
		height: 3em;
		
	}
	
	#logo a
	{
		line-height:3em;
	}
	
	#nav
	{
		height:2.5em;
		line-height:2.5em;
	}
	
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 5em 0 1em 0;
	}

	#header-wrapper
	{
		padding: 4em 0 2em 0;
	}

		.homepage #header-wrapper
		{
			padding: 8em 0 4em 0;
		}
		
	#promo-wrapper
	{
		padding: 5em 0 5em 0;
	}
	
	#footer-wrapper
	{
		padding: 2em 0 0em 0;
	}
	
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	.right-sidebar #content
	{
		padding-right: 1em;
	}

	.left-sidebar #content
	{
		padding-left: 1em;
	}