
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.5em;
		font-size: 16pt;
	}

	span.extra
	{
		display: inline;
	}

	.features
	{
		margin-bottom: 0;
	}

	.actions.major
	{
		padding-top: 2em;
	}

	/* Sections/Articles */
	
		section,
		article,
		.row > section,
		.row > article
		{
			margin-bottom: 3em;
		}

		section:last-child,
		article:last-child,
		.row > section:last-child,
		.row > article:last-child
		{
			margin-bottom: 0;
		}

	/* Lists */

		ul.menu
		{
			text-align: center;
		}
		
			ul.menu li
			{
				display: block;
				border: 0;
				padding: 0;
				margin: 0;
				line-height: 2em;
			}
			
			ul.menu li:first-child
			{
				border-top: 0;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


	#nav
	{
		position: relative;
		margin: -50px 0px 10px 0px;
		line-height: 2em;
		height: 2em;
		font-size: 0.8em;
	}

		#nav > ul
		{
		}

			#nav > ul > li,
			#nav > ul > li.break
			{
				margin-left: 0;
			}
			
	.dropotron-level-0
	{
		margin-top: 1.1em;
	}
	
	#logo
	{
		height: 2em;
		
	}
	
	#logo a
	{
		line-height:2em;
	}
	
		
/*********************************************************************************/
/* Hero                                                                          */
/*********************************************************************************/

	#hero
	{
		padding: 10px 10px 70px 10px;
		margin: -20px 0px 0px 0px;
		bottom: 0px;
	}
	
		#hero h2
		{
			font-size: 1.3em;
		}
		
		#hero p
		{
		}
		
			#hero p br
			{
				display: none;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding-bottom: 0;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		margin-bottom: 3em;
	}

	.right-sidebar #content
	{
		padding-right: 0;
	}

	.left-sidebar #content
	{
		padding-left: 0;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		margin-bottom: 3em;
	}
	
		#sidebar section
		{
			border-top: 0;
			margin-top: 0;
			padding-top: 1em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}
		
		#footer header.major
		{
			margin-bottom: 1.5em;
		}